# MongoDB Connection URI
MONGO_URI=mongodb+srv://KingOfHell:Highspeedorg@cluster0.ha2cc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JSON Web Token Secret Key
# Replace with a strong, unique secret key for your application
JWT_SECRET=Bbbd5yFaeiwyVRDOVoA6v1kvOWZu1XcM

# Port for the server (optional, as Vercel will manage this in production)
# PORT=5000
