# MongoDB Connection URI
MONGO_URI=mongodb://localhost:27017/movieMagicCinema_dev

# JSON Web Token Secret Key
# Replace with a strong, unique secret key for your application
JWT_SECRET=yourverysecureandrandomjwtsecretkeygoeshere

# Port for the server (optional, as Vercel will manage this in production)
# PORT=5000
